.tl_tablelookupwizard {
    margin: 5px 0;
    width: 100%;
    min-width: 700px;
}

.tl_tablelookupwizard input[type="checkbox"],
.tl_tablelookupwizard input[type="radio"] {
    margin: 0;
    display: block;
}

.tl_tablelookupwizard th {
    text-align:left;
}

.tl_tablelookupwizard td {
    border-bottom: 1px solid var(--border, #e9e9e9);
}

.tl_tablelookupwizard .col_first {
    width: 1%;
}

.tl_tablelookupwizard .search input.tl_text {
    margin: 0;
}

.tl_tablelookupwizard .search input.tl_text.loading {
    background-image: url('/system/themes/flexible/icons/loading.svg');
    background-repeat: no-repeat;
    background-size: auto calc(100% - 10px);
    background-position: calc(100% - 5px) center;
}

html[data-color-scheme="dark"] .tl_tablelookupwizard .search input.tl_text.loading {
    background-image: url('/system/themes/flexible/icons/loading--dark.svg');
}

.tl_tablelookupwizard .search_inner {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
}

.tl_tablelookupwizard .reset label {
    display: block;
}

.tl_tablelookupwizard td.operations {
    width: 20px;
    text-align: right;
}

.tl_tablelookupwizard tr.more td span.tl_info {
    display: inline-block;
}

.tl_tablelookupwizard tr.more td,
.tl_tablelookupwizard .found.empty td {
    background: var(--info-bg, #e9f0f7);
    color: var(--blue, #0073a8);
    text-align: center;
}
